/* submissions.css */

.submissions-container {
  padding: 16px;
}

.score-distribution-card {
  position: relative; /* Set the position to relative to allow absolute positioning of buttons */
  margin-bottom: 16px;
  padding: 16px;
  background-color: #f7f7f7;
}

.score-distribution-buttons {
  position: absolute; /* Position absolutely within the card */
  top: 16px; /* Distance from the top of the card */
  right: 16px; /* Distance from the right edge of the card */
  display: flex;
  gap: 8px; /* Space between buttons */
}

.export-button {
  font-size: 14px; /* Adjust the font size of the buttons */
  padding: 8px 16px; /* Add some padding for a better look */
}

.score-distribution-item {
  margin-bottom: 8px;
  font-size: 18px; /* Adjust font size as needed */
}
